<html>
	<head>
		<title>GoatProxy</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	</head>
	<body ng-app="debug" ng-controller="MainController">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand", href="/">GoatProxy</a>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="connection-status"><strong>{{ connection.status }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
		<div class="container main-container">
			<div id="console" class="span11 event-rows" ng-show="hasRows()">
                <accordion close-others="oneAtATime">
                    <accordion-group ng-repeat="e in log">
                        <div class="row">
                            <div class="span5">
                                <h4>Header Information</h4>
                                <blockquote>
                                    <div ng-repeat="(header, value) in e.httpev.Header">
                                        <span class="text-success"><strong>{{ header }}</strong></span>: <em>{{ value[0] }}</em>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="span5">
                                <pre ng-bind-html="renderBody(e)"></pre>
                            </div>
                        </div>
                        <accordion-heading>
                            <div ng-bind-html="eventHeader(e.httpev)"></div>
                        </accordion-heading>
                    </accordion-group>
                </accordion>
			</div>
		</div>
        <footer>
            {{ proxy_status }}
        </footer>
	</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.0.1/angular-sanitize-1.0.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script type="text/JavaScript" src="js/socket_module.js"></script>
    <script type="text/JavaScript" src="js/main.js"></script>
</html>
